.home {
  position: relative;
  height: 100vh;
  background: url(${backgroundImage}) no-repeat center center/cover; /* Apply the imported image */
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  padding: 20px;
  background-color: rgba(0, 128, 0, 0.3);
}

.home-text h1 {
  font-family: 'Cera Pro', sans-serif;
  font-size: 40px;
  color: white;
  margin-bottom: 20px;
}

.app-buttons a {
  margin-right: 10px;
}

.app-buttons img {
  width: 150px;
  height: 50px;
}
